.icon {
    height: 50px;
}


.col{
    width: 40%;
    
}

body{
    background-color:dimgray;
    
        
    background-image:url(https://mms.businesswire.com/media/20200429005562/en/788394/23/revature-logo.jpg);
        
    
}